@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/*
h1 - 36px
h2 - 30px
h3 - 22px
all other text - 16px
*/

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: rgb(31, 30, 30);
  font-size: 16px;
  font-weight: 300;
}

/* this font size will affect all elements ( except (h1-.h6) on the page)
font-size: 16px;
/* ========
Typography
   ======== */

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

/* image is responsive */
img {
  width: 100%;
  height: auto;
  display: block;
}

/* flex to align,center, margin*/
.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  margin-bottom: 0.5;
  background-color: #e0ffff;

}

/* two selectors, flex, flex wrap and center */
.logo,
.menu-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* flex grow, shrink and basis  */
.menu-item {
  flex: 1 0 50%;
  text-align: center;
}

/* style links, display block and add space between and padding*/
.logo a,
.menu-nav a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  padding: 0.8rem;
}

/* top and bottom margin removed to automatically align logo */
.logo {
  margin: 0 auto;
}

/* logo colour */
.logo a {
  color: #0000ff;
}

/* menu colour */
.menu-nav {
  color: #0000ff;
}

/* change background colour and hover */
.menu-nav a:hover {
  background-color: #d3ab19;
}

/* ( mobile first for tablets  everything below 600px will have the style above this */
@media screen and (min-width: 600px) {
  .header-menu {
    line-height: 1.5rem;
  }

  .menu-nav {
    width: 100%
  }

  .menu-item {
    flex: 1 0 10%;
  }
}

/* Over 900px for desktop margins conform the left and margin to have space */
@media screen and (min-width: 900px) {
  .header-menu {
    justify-content: space-between;
    padding: 1rem 0;
    margin: 1rem auto 2rem auto;
  }

  .menu-nav {
    width: auto;
  }

  .logo {
    margin: 0 0 0 0.3rem;
  }
}

/* to center hero image */
.hero {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro p {
  width: 100%;
  text-align: center;

}

h1,
h2,
h3 {
  text-align: center;

}

.mid {
  background-color: #e0ffff;
  padding: 10px 10px;
  text-align: justify;
  text-justify: inter-word;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  margin: 1px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
  max-width: 25rem;
  min-width: 10rem;

}

/* paragraphs:  */
p {
  padding-left: 0.625em;
  padding-right: 0.625em;
}

/* for the form page css */
@media screen and (max-width: 1200px) {
  form {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 100%;
  }
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 95%;
  /* Form outline */
  padding: 1em;
  border: 2px solid #7ec1c1;
  border-radius: 1em;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li+li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 100%;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;

}

input,
textarea {
  /* To make sure that all text fields have the same font settings
  By default, textareas have a monospace font */
  font: 1em Lato;
  /* Uniform text field size */
  width: 99%;
  /* box-sizing: border-box; */
  /* Match form field borders */
  border: 2px solid rgb(39, 38, 38);
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* multiline text fields aligned with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* buttons aligned with the text fields */
  padding-left: 31%;
  /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
  between the labels and their text fields */
  margin-left: .1em;
}

/* back to top */
#move {
  float: right;
}

/* footer css, social links */
footer {
  width: 100%;
  text-align: center;
  background-color: #e0ffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}